body{
  background-image: url(Immagini/background.jpg);
  background-size:cover;
}

.container{
  font-size: 75%;
  color: white;
  width: 815px;
  margin: auto;
  max-width: 780px;
  padding: 90px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.logolim{
  color: lime;
  text-align: center;
}

.logo{
  width: 235px;
}

.tasti{
  background-color: lime;
  margin: auto;
  width: 780px;
  height: auto;
  padding: 10px;
  text-align: center;
}

.copia{
  display: inline-block;
  margin: auto;
}

#lineaa{
  background-color: gold;
  border: none;
  width: 300px;
  height: 20px;
  border-radius: 5px;
}

#lineab{
  background-color: green;
  border: none;
  width: 490px;
  height: 20px;
  border-radius: 5px;
}

#lineac{
  background-color: red;
  width: 90px;
  border: none;
  height: 20px;
  border-radius: 5px;
}
